<div class="w-full h-[8%] bg-gray-200 flex items-center justify-normal py-4 px-8 gap-8 border-b-2 border-gray-500">
    <a href="/" class="nav-brand">Recipe Book</a>
    <div class="flex items-center justify-between flex-1">
        <div class="flex items-center justify-evenly gap-4">
            <a class="nav-link" href="#">Recipes</a>
            <a class="nav-link" href="#">Shopping List</a>
        </div>
        <div class="flex items-center justify-normal cursor-pointer gap-1">
            <p class="nav-dropdown">Manage</p>
            <svg class="w-2.5 h-2.5 mt-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </div>
    </div>
</div>
