<div class="w-full flex flex-col items-start gap-4 p-4">
    <div class="w-full flex justify-between">
        <h1 class="font-bold text-4xl">{{ recipe.name }}</h1>
        <button class="manage-btn">
            Manage Recipe
            <svg class="w-2.5 h-2.5 mt-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>
    </div>
    <div class="">
        <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="w-60 h-48 rounded-md object-cover">
    </div>
    <p>Ingredients</p>
    <p>{{ recipe.description }}</p>
</div>
