<form class="space-y-4">
    <div class="flex items-center gap-4">
        <div class="">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="text-input" #nameInput>
        </div>
        <div class="">
            <label for="amount">Amount:</label>
            <input type="number" name="amount" id="amount" class="text-input" #amountInput>
        </div>
    </div>
    <div class="flex items-center gap-2">
        <button class="new-btn" (click)="addIngredient($event)">Add</button>
        <button class="delete-btn">Delete</button>
        <button class="manage-btn">Clear</button>
    </div>
</form>
